/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #DFDFDF;
  --basic-medium-grey: #D5D5D5;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-black: #000000;
  --basic-dark-grey: #283136;
  --basic-light-footer-grey: #666666;
  --basic-footer-grey: #444444;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr min-content;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
  background-color: var(--basic-light-grey);
}
.site-navigation {
  list-style: none;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  align-content: start;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-title-wrapper {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 10px;
  background-color: var(--basic-light-grey);
}

.filters {
  grid-row: 1 / 3;
  
}
.sorting {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

/* Container */

.slider-background {
  width: auto;
  background-color: var(--basic-light-grey);
  padding-top: 10px;
}
.slider-container,
.main-container,
.footer-addres,
.footer-social {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Navigation */

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation a:focus,
.cart-navigation a:focus,
.site-navigation a:hover,
.cart-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.cart-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-header-logo img:active {
opacity: 0.3;
}
/* Features */

.slider-item {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-text h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 25px;
}
.slider-text p {
  margin-bottom: 50px;
}
.slider-button  {
  margin-left: 50px;
}

.slider-features {
  background-color: var(--basic-light-grey);
}

/* Button */
.button {
  font: inherit;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
}

.service-button-yellow {
  background-color: var(--basic-light-yellow);
}

.service-button-green {
  background-color: var(--basic-light-green);
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
  outline: none;
}

.button:active {
  background-color: var(--basic-dark-red);
  color: rgba(255, 255, 255, 0.3);
}

.service-button-yellow:hover,
.service-button-yellow:focus {
  background-color: var(--basic-yellow);
}

.service-button-yellow:active {
  background-color: var(--basic-dark-yellow);
}

.service-button-green:hover,
.service-button-green:focus {
  background-color: var(--basic-green);
}

.service-button-green:active {
  background-color: var(--basic-dark-green);
}


/* Service */
.service {
  margin-bottom: 80px;
}
.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-column-gap: 30px;
}

.service-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*About*/
.about {
  margin-bottom: 80px;
}
.about-description-facts {
  display: grid;
  grid-template-columns: 8fr 4fr;
}
.about-description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black)
}

.about-description-title-list {
  font-weight: bold;
  text-transform: uppercase;
}

.about-facts-title {
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-description-list {
  list-style: none;
}

.about-facts-table th {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.cell sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.about-facts-table tr {
  line-height: 18px;
}

.cell-1 {
  width: 119px;
  height: 64px;
}

.cell-2 {
  width: 125px;
  height: 64px;
}

.cell-3 {
  width: 135px;
  height: 64px;
}

.cell-4 {
  width: 119px;
  height: 37px;
}

.cell-5 {
  width: 125px;
  height: 37px;
}

.cell-6 {
  width: 135px;
  height: 37px;
}
.partners {
 margin-bottom: 80px;
}

.partner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.partner-list img {
  opacity: 0.2;
}
.partner-list img:focus,
.partner-list img:hover {
  opacity: 1;
}
.partner-list img:active {
  opacity: 0.1;
}
/*Catalog*/

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  text-align: center;
}
.sorting {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}
.sorting-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sorting h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px
}
.sorting-item,
.catalog-item,
.pagination-list {
  list-style: none;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-item a:active {
  color: var(--basic-black);
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:focus,
.sorting-item-current a:active {
  color: var(--basic-black);
}

.catalog-popup-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-popup-title:focus,
.catalog-popup-title:hover {
  color: var(--basic-light-red);
}

.catalog-popup-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-popup p {
  line-height: 18px;
  color: var(--basic-light-footer-grey)
}

.catalog-popup .button {
  line-height: 18px;
  color: var(--basic-white);
}

.catalog-popup .button:focus,
.catalog-popup .button:hover {
  background-color: var(--basic-red)
}

.catalog-popup .button:active {
  background-color: var(--basic-dark-red);
}

.catalog-popup {
  background-color: var(--basic-light-grey);
  width: 360px;
height: 231px;
margin-bottom: 30px;
text-align: center;
}

.pagination-item a {
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: var(--basic-grey);
}

.pagination-item a:active {
  background-color: var(--basic-medium-grey);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
}

/* Main footer */
.main-footer {
  color: var(--basic-black);
}
.map-contacts{
  position:relative;
}
.footer-addres {
  position:absolute;
  left: 140px;
  top: 54px;
  width:319px;
  height:308px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-black);
  padding-top: 25px;
  padding-left: 50px;
}
.footer-addres h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer-addres p {
  line-height: 18px;
  color: var(--basic-light-footer-grey);
}

.footer-phone {
  color: inherit;
  margin-top: 18px;
}
.button-addres {
  margin-top: 40px;
}
.footer-social-list {
  list-style: none;
}

.footer-social-list a {
  color: inherit;
}

.footer-social h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social p {
  line-height: 22px;
  color: var(--basic-footer-grey);
}
.footer-social-wrapper {
  display: grid;
  grid-template-columns: 4fr 8fr;
}
.footer-social-icons {
  width: 261px;
  margin: 0;
}
.footer-social-tagline {
  width: 660px;
}